
@{
    ViewData["Title"] = "Mainpage";
}

<h2>ADD MRI</h2>

<form >
    <div class="mb-3">
        <label for="formFile" class="form-label">Choose</label>
        <input class="form-control" type="file" id="formFile" name="image" required>
    </div>
    
    <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>